bin/*
*.sdf
*.sln
*.suo
/*/Release
/*/Distribute
Metin2Client_VC100.opensdf
*.ipch
*.ipch
ipch/userinterface_vc90-a9b619cd/userinterface-d9c6fff6.ipch
.vs/Metin2Client_VC100/v16/Browse.VC.db
.vs/Metin2Client_VC100/v16/Solution.VC.db
UserInterface/UserInterface_VC90.vcxproj
UserInterface/UserInterface_VC90.vcxproj.user
.vs/Metin2Client_VC100/v16/Browse.VC.db-shm
.vs/Metin2Client_VC100/v16/Browse.VC.db-wal
.vs/Metin2Client_VC100/v16/Browse.VC.opendb
.vs/Metin2Client_VC100/v16/Solution.VC.db-shm
.vs/Metin2Client_VC100/v16/Solution.VC.db-wal
